<template>
  <div id="app">
    <Test1 />
  </div>
</template>

<script>
import Test1 from "./components/Test1.vue";

export default {
  name: "app",
  data() {
    return {
      publicKey: `MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCYfAiJDPn15r0s2zoIz5W3TeiV
                    FWZuJGSRLc02JzNIkGsbS9mCbibrpdF7OlpYYapreInanEiwK1b9HOPjp2rLysRV
                    vIH8T51J1KCAyZmUvhXCzMhVjp6qaeUFn+vfk1AT+hOcDj2n+GNyO300VzZ0Svn8
                    +w7jUJueD/UgsOBgcQIDAQAB`,
      privateKey: `MIICXAIBAAKBgQCYfAiJDPn15r0s2zoIz5W3TeiVFWZuJGSRLc02JzNIkGsbS9mC
                    bibrpdF7OlpYYapreInanEiwK1b9HOPjp2rLysRVvIH8T51J1KCAyZmUvhXCzMhV
                    jp6qaeUFn+vfk1AT+hOcDj2n+GNyO300VzZ0Svn8+w7jUJueD/UgsOBgcQIDAQAB
                    AoGAAozQd7pH09zv/PgNmGggUNh0s0mQVPc211a0v9sX+Hax09sI4C2HaRl0z2LC
                    cAfyGaoCZC2I6alP4xvAk+YQ2yDeeKRYTot3PdaGEct7EjEkK5RjkyRYrMyCQqdZ
                    fUQgHTSvFCR5I0tTcingy8do3kS2GAQYGvBObbp7ue9AmKECQQD0opaFZF3f/DNC
                    IOqPyRFZuLpObTfpa0Rdr/Pl0YbmEvT3MazZW0BYL/bvw2TSrRo76Mv5W8HpaG5X
                    qMgPjRDzAkEAn5GCwwpB/ikxQTw+CfZt2nf1rUTNUDi8qWP67XTUj/PvLNwisrd7
                    I0xcJ4fnwvvhKhPTEJ7NOCpNZ5uqJ0ZCCwJBAJhJQkRFh36wg8Qts3bQpwFgUnIR
                    4VVoFgXwS3cMKNq+gEoFXWFtQa/kI+d7jh7r7UHQGHHhIeRHwzDEe83adesCQBLp
                    NN0WnyGXEi5QDG4z1WsZ4nTpfYevYbSVk8yGlxaEa2keocIaeq6BQz6wHah/H31U
                    IiSLHXk1kjzgNvc2nWcCQCRZJos9daJoR6HXPNTCXXL2Nigf84yXu18pH8Q5O5Cz
                    PmrVtMzrzJW95qZZ1Wm8D9qGXvLcMoxUgP02cVPdVB0=`
    };
  },
  components: {
    Test1
  },
  mounted() {
    // // Part 1: RSA keypair generator
    // let pair = keypair({bits: 1024});
    // console.log(pair);
    // // Part 2: RSA encrypt & decrypt
    // const plaintext = 'Hi this is test message!';
    // let crypt = new JSEncrypt();
    // crypt.setKey(this.publicKey);
    // let enc = crypt.encrypt(plaintext);
    // console.log(enc);
    // let crypt2 = new JSEncrypt();
    // crypt2.setKey(this.privateKey);
    // let dec = crypt2.decrypt(enc);
    // console.log(dec)
    // // Part 3: AES encrypt & decrypt
    // let key = CryptoJS.lib.WordArray.random(16);
    // let iv =  CryptoJS.lib.WordArray.random(16);
    // let encrypted = CryptoJS.AES.encrypt("This is a Message", key, { iv: iv });
    // console.log(encrypted.toString())
    // let decrypted = CryptoJS.AES.decrypt(encrypted, key, { iv: iv });
    // console.log(decrypted.toString(CryptoJS.enc.Utf8))
    // // Demo
    // let messageObj = { message: "Howard Sun hello" }
    // // 先用 aes 把訊息加密過一遍
    // let key2 = CryptoJS.lib.WordArray.random(16);
    // let iv2 =  CryptoJS.lib.WordArray.random(16);
    // let encrypted2 = CryptoJS.AES.encrypt(JSON.stringify(messageObj), key2, { iv: iv2 });
    // console.log(key2.toString())
    // console.log(iv2.toString())
    // console.log(encrypted2.toString())
    // // 用聊天室成員的publicKey 加密 key & iv
    // let crypt3 = new JSEncrypt();
    // crypt3.setKey(this.publicKey);
    // let encryptedKey = crypt3.encrypt(key2.toString());
    // let encryptedIv = crypt3.encrypt(iv2.toString());
    // console.log(encryptedKey)
    // console.log(encryptedIv)
    // // 把訊息送出
    // // 他人接收，先用自己的private key 解密的被加密的aes key&iv
    // let crypt4 = new JSEncrypt();
    // crypt4.setKey(this.privateKey);
    // let decryptedKey = crypt4.decrypt(encryptedKey);
    // let decryptedIv = crypt4.decrypt(encryptedIv);
    // console.log(decryptedKey)
    // console.log(decryptedIv)
    // // 用拿到的 key&iv 解密aes的部分
    // let decrypted2 = CryptoJS.AES.decrypt(encrypted2.toString(), CryptoJS.enc.Hex.parse(decryptedKey), { iv: CryptoJS.enc.Hex.parse(decryptedIv) });
    // console.log(JSON.parse(decrypted2.toString(CryptoJS.enc.Utf8)))
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
